* {
    outline: none;
}

.wrapper-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #140f0f;
}

.card {
    /* background-color: #a2ca53; */
    background-image: url(https://i.ibb.co/B6SbgDk/The-Cyber-Firefly-black-roach-with-green-glowing-lines-cyberpunk-d4879d00-206f-435d-aa85-6c37eaa5831.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px #FFF;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .9rem;
    max-width: 500px;
    min-width: 400px;
    margin: 0 auto;
    display: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .5rem;
}
.form-group:last-child{
    margin-bottom: 0;
}

.form-group > label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}
.form-group > input {
    border:  1px solid #333;
    border-radius: .25rem;
    font-size: 1rem;
    padding: .25rem;
}

.step-title{
    color: #FFF;
    margin-bottom: 1rem;
    text-align: center;
}

.active{
    display: block;
}

.radio-wrapper{
    display: flex;
    flex-direction: row;
}

.radio-wrapper input, .radio-wrapper label {
    color: #FFF;
    margin: 20px 0;
}

.form-group input[type=radio] {
    display: none;
}

.form-group label {
    color: #FFF;
}

.radio-style {
    display: inline;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
}

.label-radio {
    align-items: center;
    display: block;
}

.label-radio .radio-style::before {
    display: inline-flex;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #FFF;
    background-color: #FFF;
    margin-right: 5px; 
    transition: 0.3s;
}

.form-group input[type=radio]:checked + .radio-style::before {
    background-color: green;
}

button {
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 9px;
    border-radius: 7px;
    background-color: #037003;
    color: #FFF;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(94.33deg, #037003 1.18%, rgba(6, 3, 172, 0.77) 100%);;
}

h4 {
    color: #FFF;
    max-width: 180px;
    align-self: center;
    text-align: center;
}

p {
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.input-label {
    font-size: 100px;
}

.form-group input[type=text],  .form-group input[type=tel], .form-group input[type=email], #country{
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    padding: 12px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background-color: #0080008f;
}

optgroup {
    background-color: black;
    font-weight: bolder;
    font-size: 15px;
    color: green;
    transition: 0.3s;
}

#success-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#success-container {
    width: 500px;
    height: 300px;
    background-color: rgb(17, 77, 17);
    box-shadow: 10px 10px 10px lightgreen;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#success-header {
    font-family: monospace;
    font-size: 50px;
    max-width: 600px;
    text-align: center;
    color: #FFF;
    
}